In [ ]:
!pip install selenium

# Problem Statement:
### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
##### `This task will be done in following steps:`
- 1. First get the webpage https://www.naukri.com/
- 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
- 3. Then click the search button.
- 4. Then scrape the data for the first 10 jobs results you get.
- 5. Finally create a dataframe of the scraped data.

### Importing necessary libraries.

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

#### Connecting to the web driver.

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
driver

In [4]:
driver.get('https://www.naukri.com/')

### finding web element for search  job bar using class name.

In [5]:
search_job=driver.find_element_by_class_name("suggestor-input")
search_job

### writing on search_bar

In [6]:
search_job.send_keys("Data Analyst")

### Finding we element for job location bar.

In [7]:
search_loc=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_loc

In [8]:
search_loc.send_keys("Bangalore")

### Clicking on search button.

In [9]:
search_btn=driver.find_element_by_class_name('qsbSubmit')
search_btn

In [11]:
search_btn.click()

## Extracting 10 Job_titles

In [12]:
job_titles=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(job_titles)

20

In [13]:
# Now we will run for loop to extracting job titles one by one.
titles=[]
for i in job_titles:
    titles.append(i.text)
job_heading=titles[:10]
print(len(job_heading))   
job_heading

10

['Senior Data Analyst - Collibra',
 'Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll',
 'Data analyst',
 'Pipeline/Piping Data Analyst Trainee',
 'Data Analyst',
 'Data Analyst',
 'Hiring For Data Analyst (SQL & Scala) || Coforge',
 'Hiring Data Analyst(Immediate joiner preferred) - Globallogic!',
 'Sr. Data Analyst',
 'Data Analyst']

## Extracting Company_names

In [14]:
names=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
names=names[:10]
len(names)

10

In [15]:
# Let's scraping company names using for loop
company_names=[]
for i in names:
    company_names.append(i.text)
company_names

['Shell',
 'Flipkart',
 'GSK India',
 'TIMS SOLUTIONS PRIVATE LIMITED',
 'Insure Pro 2.0',
 'BERKMEER INDIA PRIVATE LIMITED',
 'Coforge',
 'GlobalLogic',
 'Born Commerce',
 'Opkey']

## Extracting Experience:

In [16]:
# let's extract first 10 companies required experience with the help of Contains method.
# Since all the experience tags have a 'Yrs' contains is common.
# so that we will take this contains and extract all the required data.
exp_tag=driver.find_elements_by_xpath('//*[contains(@title,"Yrs")]')
exp_tag=exp_tag[:10]
exp_tag

[<selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="35e8bb8f-8467-4625-9208-d3387ae08195")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="1f62d3fe-0474-461a-a601-414973cba58a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="307ee29b-ebc6-4133-988d-ef1691e22e2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="e6c6da0d-1d2c-47de-9fa3-bc80fa7216f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="3d1c726e-44a8-4f3a-9113-ca891bad4d82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="05ae90a8-59b2-4003-9874-5bb2f173df7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="cf70546d-ad47-497e-86c3-b909263f3e25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="38bbabbd-bd55-4b97-9147-1f7e58e40c9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="947fb4aa-6017-45c8-93c7-bd791d9048a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="da22cb6f-68b1-44d5-aeea-1b9662d7fd5a")>]

In [17]:
# Using For loop
experience=[]
for i in exp_tag:
    experience.append(i.text)
experience

['8-12 Yrs',
 '1-6 Yrs',
 '5-9 Yrs',
 '0-4 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '4-8 Yrs',
 '6-9 Yrs',
 '5-10 Yrs',
 '2-5 Yrs']

## Extracting Job_Location:

In [18]:
loca_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
loca_tag=loca_tag[:10]
len(loca_tag)

10

In [19]:
#Using for loop
location=[]
for i in loca_tag:
    location.append(i.text)
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(HSR Layout +7)',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru, Greater Noida\n(WFH during Covid)',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

## Creating a dataframe

In [20]:
df=pd.DataFrame()
df['job-title']=job_heading
df['job-location']=location
df['company-name']=company_names
df['experience-required']=experience
df

,job-title,job-location,company-name,experience-required
0,Senior Data Analyst - Collibra,Bangalore/Bengaluru,Shell,8-12 Yrs
1,"Hiring -Data Analyst, Business Analyst, MIS An...",Bangalore/Bengaluru,Flipkart,1-6 Yrs
2,Data analyst,Bangalore/Bengaluru,GSK India,5-9 Yrs
3,Pipeline/Piping Data Analyst Trainee,Bangalore/Bengaluru,TIMS SOLUTIONS PRIVATE LIMITED,0-4 Yrs
4,Data Analyst,Bangalore/Bengaluru(HSR Layout +7),Insure Pro 2.0,0-2 Yrs
5,Data Analyst,Bangalore/Bengaluru,BERKMEER INDIA PRIVATE LIMITED,0-2 Yrs
6,Hiring For Data Analyst (SQL & Scala) || Coforge,"Mumbai, Bangalore/Bengaluru, Greater Noida\n(W...",Coforge,4-8 Yrs
7,Hiring Data Analyst(Immediate joiner preferred...,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",GlobalLogic,6-9 Yrs
8,Sr. Data Analyst,Bangalore/Bengaluru,Born Commerce,5-10 Yrs
9,Data Analyst,Bangalore/Bengaluru,Opkey,2-5 Yrs

# Problem Statement:

#### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
##### `This task will be done in following steps:`
- 1. First get the webpage https://www.naukri.com/
- 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
- 3. Then click the search button.
- 4. Then scrape the data for the first 10 jobs results you get.
- 5. Finally create a dataframe of the scraped data.

In [21]:
# Importing the necessary library
import selenium
from selenium import webdriver
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [22]:
driver.get('https://www.naukri.com/')

In [23]:
# findting the web element got job search bar
search_job=driver.find_element_by_class_name("suggestor-input")
search_job

In [24]:
search_job.send_keys("Data Scientist")

In [25]:
# finding the web element for location
location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
location

In [26]:
location.send_keys('Bangalore')

In [27]:
# clicking the search key
search_key=driver.find_element_by_class_name("qsbSubmit")

In [28]:
search_key.click()

### Scraping the job  titles

In [29]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="755a877c-6c76-4628-8f29-8b7d66eebf2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="8159a0ae-638a-487e-a735-24ae15c5dee9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="bf666867-6c23-4d21-a46c-a198009f7558")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="1e59289e-d7a9-4f07-9415-6028e654e056")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="91006dd1-5cbe-46fd-bbf0-f1c4cc655436")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="c4664290-84de-46ee-80c9-510f3ed33215")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="aace8018-cdfb-4228-ac21-9c618ec65662")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="03cd7a3e-7db4-418e-bd6a-5290daa9e4b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="ee3afc4e-583f-4d82-a9b0-22182c2ecb10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="ec6c86c4-93e4-4005-b2db-d2ae20b2813e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="81ae4dc3-169c-4a99-9bc6-4aa568582896")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="259320e3-5fff-426e-8e18-0d25544dc1a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="0b99aa0d-dd53-4003-8d20-4dcc94109d27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="8913d614-ccf5-4c9d-a939-a19059bc5dc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="9c57c57a-cea9-4ee1-93a5-a19ea2a856a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="81274619-c762-4354-a99d-fc344c63a45a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="ddfb2825-68e8-4015-93b7-6427c11d3101")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="63901d41-d81a-436a-b124-ff107adc846f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="16674cce-c3e6-41e7-b7db-13047f11d99d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="7a99a68c-5efc-401b-b042-bf2ad1726cee")>]

In [30]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles=job_titles[:10]

In [31]:
len(job_titles)

10

### Sraping the Location

In [32]:
loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc_tags

[<selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="67dad592-0a39-467f-b6dd-343d783c57a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="8d2e1b23-e992-4357-b683-07fc684b9802")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="997dff30-4b00-4a60-951c-3b63db88adf6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="096bc195-2f4c-4466-b16f-49b66042f874")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="468e6a88-8df3-4ee8-8244-702726ce5c61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="94de1bce-4bc7-497d-b450-f7f727f3fa92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="cbc5f802-9b4e-4c40-a14b-9e9863868013")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="a201eda8-2e07-4bc1-b70f-ed41e4139834")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="1da2a9aa-0a30-46cb-a175-425604a4b7a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="5659856c-5c04-49b4-9b6a-c56f55e67d63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="067a1748-cd15-464f-901a-ce8bf9cdfe76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="38b07893-1812-4fc3-ab90-69f7e742237b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="3c88227f-ae51-40b8-a09f-7448e64b509b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="fadcd7c0-c1e2-4eac-8e62-f8b7f10ce792")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="f8ff852e-2664-47d1-939c-36854b31aedc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="d0e6fb4c-c424-41d2-ba2d-c494462158f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="22a0f23e-c485-410e-9a6f-46d1f72f8123")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="b9914d05-d404-425c-b9d4-ddc162743db0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="ffd92dab-f0ae-401e-a094-29e657e05678")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="a40e2127-a72d-4446-a051-6235def663c3")>]

In [33]:
job_location=[]
for i in loc_tags:
    job_location.append(i.text)
job_location=job_location[:10]
print(len(job_location))

10

### Extracting the company names

In [34]:
name_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
name_tags

[<selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="db017f3c-ccf3-45bb-88cc-7f793769ae37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="51db8703-ac68-4b8b-895e-213da862c360")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="a01bdc58-7a43-4bc7-990f-3453aa401200")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="3f3cf88e-2757-48a2-a604-2d6c4242d36f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="a1e03b64-4b27-4d53-9e76-9b771c22ce48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="f7c26b0f-ce49-41b6-838a-6206b35d7baf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="81d7708c-69c9-4380-87a0-863817678bba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="cbe00102-4463-4b08-b6e8-cfd72b759a43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="e993ce23-ba46-47ad-900f-556747b53fad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="ec94a794-24bd-4bf3-bd30-02cf03790502")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="6ff0a9e0-7ebe-4404-912c-8df189841554")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="224e6f0b-c5f0-4990-be53-375728d272e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="af04adcc-c4c2-4061-bdc8-3c3d54044bd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="a4bf0b3d-e865-463c-a6b9-be291484cf96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="87a525f7-b28b-47b7-b63c-24a31945f605")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="1551832b-6b31-4449-9e31-a07035f7ebef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="3e0754c1-f051-4549-b8da-14770dcb5332")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="de56ed4f-3201-48d6-8b6d-598cb785d410")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="37f138a6-74b2-4bc7-aa3d-60abdfd34bb0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="648dd9a5-f69b-4c7b-8cb5-2a0a041cebe4")>]

In [35]:
company_names=[]
for i in name_tags:
    company_names.append(i.text)
company_names=company_names[:10]
print(len(company_names))

10

## Let's Create the dataframe

In [36]:
df2=pd.DataFrame()
df2['Job_titles']=job_titles
df2['Job_location']=job_location
df2['Company_name']=company_names
df2

,Job_titles,Job_location,Company_name
0,Global Tax Automation & Operations - Data Scie...,Bangalore/Bengaluru,Dell
1,Data Scientist / ML Engineer,"Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra...",AVE-Promagne
2,Data Scientist - Lead / Architect - Looking Fo...,"Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram,...",Wipro
3,Sr Data Scientist,Bangalore/Bengaluru\n(WFH during Covid),Fragma data systems pvt ltd
4,Associate Data Scientist,Bangalore/Bengaluru,Kaplan
5,Data Scientist / Analyst,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Talentify
6,Principal Data Scientist,Bangalore/Bengaluru,Signify
7,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
8,Deputy Manager - Data Scientist,Bangalore/Bengaluru,HDFC LIFE INSURANCE COMPANY LIMITED
9,"Senior Data Scientist, Speech Synthesis","Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",NVIDIA

# Problem Statement

##### Q3: In this question you have to scrape data with keeping below points in mind.
- You have to use the location and salary filter.
- You have to scrape data for “Data Scientist” designation for first 10 job results.
- You have to scrape the job-title, job-location, company name, experience required.
- The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [37]:
# Importing the necessary library
import selenium
from selenium import webdriver
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [38]:
driver.get('https://www.naukri.com/')

In [39]:
# findting the web element got job search bar
search_job=driver.find_element_by_class_name("suggestor-input")
search_job

In [40]:
search_job.send_keys("Data Scientist")

In [41]:
# clicking the search key
search_key=driver.find_element_by_class_name("qsbSubmit")

In [42]:
search_key.click()

In [43]:
## Clicking on salary filter
sal_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
sal_filter

In [44]:
sal_filter.click()

In [45]:
## clicking on Location filter\
loc_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/i')
loc_filter

In [46]:
loc_filter.click()

## Extracting the Job_titles

In [47]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="a89dd590-cd3a-4364-ac37-a9f82185fbf1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="ffadd053-fe50-485d-b5af-af1b101a56ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="025f299b-24eb-4d81-ae9e-58e5443cb708")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="0c302910-e7a7-4bfe-835d-478ad360197f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="0f59ebeb-af3b-45dd-ad7a-5a585bba1cb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="558e97a2-2041-4004-a4db-27ed57965857")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="899caa5b-fece-49cf-a15d-3bc95040f23e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="084ffac4-37e2-4627-8449-e4a668b17010")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="763eed85-d9ea-4265-b2b2-4e0628593eb9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="7b3af3b2-3e00-4535-a7c3-6f2e4392694c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="155de349-cf0f-4b71-86ab-fd34d6bdb51a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="c1573695-b0c4-4078-890e-06ed1f0de9ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="a34910c2-97b8-4e6b-8a4b-7eef4b414bbb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="a54392d8-b34f-4aa3-86e8-35d39a0563c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="cc727f67-ee76-4ebf-8e91-2fd96b3c176b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="704a61bb-6b7b-497f-8c0f-6299aaf7fa5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="e5d030fe-ec0b-4abe-a8bf-7d9c462798b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="f91964b0-751f-45d5-83da-69975ff50f23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="725eb98d-b5b9-4803-9df9-4fc9e6b6e190")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="7dbb439e-489a-4315-91de-7904dca03cff")>]

In [48]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles=job_titles[:10]
print(len(job_titles))

10

## Extracting the Job_location

In [49]:
loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc_tags

[<selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="ef887512-1d7f-4769-b7ab-abe7654807bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="ebc3fd14-d6ca-419e-9b46-ef95a01979d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="73278565-5e82-4603-9b1d-71e62073c596")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="aec48144-7450-4c69-aa91-950fcfd72621")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="8b810e87-8eac-457c-a233-13e9b82514ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="c192e368-3e6a-432f-91c0-34a6dbefcc82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="467027ad-0f86-4fdb-990a-ced40434034b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="27ba4e9b-0280-46de-8c46-c82bfad0cdec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="19ef75b4-4501-4cc8-b471-e014a84bf817")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="7eb7d052-c1ee-4814-a675-94a72066a86c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="e2f6b606-94ba-484e-b68d-c565eeccd975")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="d99fbf2a-12a4-4f0a-a7db-638ccc093d41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="af2cf06d-ac3d-467f-bc47-9081151c1bb9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="c2652294-7afc-48fe-a9ee-68f56a81b5a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="a0bba261-2c91-438e-b421-e8d0070e6a16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="f6488c0d-5b27-4a65-bd74-da5028ea06d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="c84e66c8-c8e3-4cce-beb4-c56a61fde8a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="99f05cac-5e8d-4049-863a-a91ed2efe5ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="907104f9-05dc-43ea-81b1-3954cadeb829")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="bf54f90e-6900-4fa3-a822-680c504ce06a")>]

In [50]:
job_location=[]
for i in loc_tags:
    job_location.append(i.text)
job_location=job_location[:10]
print(len(job_location))

10

## Extracting the Required_Experience

In [51]:
exp_tags=driver.find_elements_by_xpath('//*[contains(@title,"Yrs ")]')
exp_tags

[<selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="01f04dc8-c46d-4a32-9718-1ffb27f497c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="4e41137e-f117-454e-834b-b3a9fcfe3e3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="f83646a8-2b04-4750-8b95-7cf9a7ecda5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="5f479bd3-5ddd-4f28-89b5-3768f64339cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="9c8a6d53-2e3f-4adb-904b-ef502d15650e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="7435cecc-a300-45e7-a0cd-e69547d2894e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="70774840-6a0f-400b-8331-9daea89b5c0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="5719f6ed-8141-4e00-aa8a-96804ac4c6b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="f996721c-9ce5-4cca-ae03-2d898feb5b3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="be67c0bd-0a26-4f38-a0cb-52f9fc3aa591")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="80b7987c-4209-490f-bf13-b08cc150dbe2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="2c58b196-2e83-4f55-a7ac-b68d0804b2bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="8dd5f2bb-faa4-4ea5-8bb9-d309288640a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="db2831a8-cbea-49f1-bd49-29035406326a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="2ac8ddd2-85db-4614-8cd6-52df8a307a34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="28022894-38bc-4e3e-a972-0836f6ab46f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="4af68562-726b-44a7-ac59-cefc9f38b18a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="79f11382-16d2-4cba-b733-6cb0da920b4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="1c540265-4f97-4f2d-89c7-5a70833a4a4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="a78376dd-8212-4898-b44b-7b6abbf3b27b")>]

In [52]:
experience=[]
for i in exp_tags:
    experience.append(i.text)
experience=experience[:10]
experience

['2-6 Yrs',
 '1-5 Yrs',
 '3-7 Yrs',
 '3-7 Yrs',
 '3-8 Yrs',
 '3-7 Yrs',
 '1-4 Yrs',
 '5-8 Yrs',
 '2-6 Yrs',
 '0-4 Yrs']

## Extracting Company_name

In [53]:
names=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_names=[]
for i in names:
    company_names.append(i.text)
company_names=company_names[:10]
print(len(company_names))

10

## Creating the DataFrame

In [54]:
df3=pd.DataFrame()
df3['Job_titles']=job_titles
df3['Job_location']=job_location
df3['Require_experience']=experience
df3['Company_name']=company_names

In [55]:
df3

,Job_titles,Job_location,Require_experience,Company_name
0,Data Scientist II,Delhi / NCR,2-6 Yrs,Chegg
1,Opening For Data Scientist,Gurgaon/Gurugram,1-5 Yrs,Care Health Insurance
2,Data & Applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",3-7 Yrs,Microsoft
3,Data and applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",3-7 Yrs,Microsoft
4,Data Scientist,Noida,3-8 Yrs,Stefanini
5,Data Scientist (ML AI Engineer) / InfoObjects ...,"Indore, Jaipur, Delhi / NCR\n(WFH during Covid)",3-7 Yrs,INFOOBJECTS SOFTWARE ( INDIA) PRIVATE LIMITED
6,Associate Data Scientist - Java/ Scala/ Apache...,Noida,1-4 Yrs,Smart work Consultants
7,Data Scientist,Gurgaon/Gurugram\n(WFH during Covid),5-8 Yrs,Zekardo Automotive Solutions
8,Data Scientist,New Delhi,2-6 Yrs,Team Computers Pvt Ltd
9,Data Scientist / Senior DS/ Team Lead,"Mumbai, Gurgaon/Gurugram(Cyber City +1)",0-4 Yrs,NebulARC Technologies Private Limited

# Problem Statement:
##### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [56]:
# Importing the necessary library
import selenium
from selenium import webdriver
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [57]:
driver.get('https://www.flipkart.com/')

In [58]:
search=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search

In [59]:
search.send_keys('sunglasses')

In [60]:
search_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')

In [61]:
search_button.click()

## Extracting the Brand_name For page_1

In [63]:
brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags)

40

In [64]:
Brand_name=[]
for i in brand_tags:
    Brand_name.append(i.text)
Brand_name

['VINCENT CHASE',
 'VINCENT CHASE',
 'Elligator',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'SUNBEE',
 'New Specs',
 'elegante',
 'kingsunglasses',
 'SRPM',
 'Fastrack',
 'Singco India',
 'PHENOMENAL',
 'PIRASO',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'Fastrack',
 'PIRASO',
 'Elligator',
 'VINCENT CHASE',
 'Elligator',
 'kingsunglasses',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'DEIXELS',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'AISLIN',
 'PIRASO',
 'PHENOMENAL',
 'New Specs',
 'Singco India',
 'GANSTA',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Johaena',
 'ROZZETTA CRAFT',
 'PIRASO',
 'VINCENT CHASE']

## Extracting the Product_description for page_1

In [65]:
prod_des=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
print(len(prod_des))

40

In [66]:
description=[]
for i in prod_des:
    description.append(i.text)
description

['by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Gradient Retro Square Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Gradient Cat-eye Sunglasses (58)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Others Wayfarer, Retro S...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'Riding Glasses, UV Protection Oval Sunglasses (48)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (32)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...']

## Extracting prince for page_1

In [67]:
price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
print(len(price))

40

In [68]:
Price=[]
for i in price:
    Price.append(i.text.replace('₹',''))
Price

['1,533',
 '1,533',
 '248',
 '639',
 '165',
 '271',
 '239',
 '389',
 '178',
 '188',
 '549',
 '203',
 '265',
 '229',
 '299',
 '499',
 '579',
 '225',
 '265',
 '1,415',
 '189',
 '172',
 '309',
 '426',
 '202',
 '521',
 '181',
 '459',
 '225',
 '299',
 '232',
 '299',
 '269',
 '235',
 '474',
 '474',
 '146',
 '383',
 '225',
 '1,415']

## Clicking on next page

In [70]:
next_page=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')

In [71]:
next_page.click()

## Extracting Brand name for page_2

In [72]:
brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
print(len(brand))

40

In [73]:
for i in brand:
    Brand_name.append(i.text)
len(Brand_name)

80

## Extracting Product_description for page_2

In [74]:
description_tags=driver.find_elements_by_class_name("IRpwTa")
len(description_tags)

40

In [75]:
for i in description_tags:
    description.append(i.text)
len(description)

80

## Extracting Product_price for page_2

In [76]:
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price_tags)

40

In [77]:
for i in price_tags:
    Price.append(i.text)
    
len(Price)

80

## Clicking on NEXT BUTTON

In [78]:
next_button=driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')

In [79]:
next_button.click()

## Extracting the Brand_Name for page_3

In [80]:
name_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
print(len(name_tags))
for i in name_tags:
    Brand_name.append(i.text)
Brand_name=Brand_name[:100]
print(len(Brand_name))

40
100

## Extracting the Product_description for Page_3

In [81]:
desc_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
print(desc_tags)
for i in desc_tags:
    description.append(i.text)
description=description[:100]
print(len(description))

[<selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="712ebbde-1df8-4991-8668-37b160e373fe")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="49a12536-9428-48fd-a77a-7c9c3cb352db")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="1c77683b-94c8-4f82-99a0-ae97f1fd1c89")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="cb14a93c-dd4b-44c6-be4c-787072304f42")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="bb8c0d97-8b89-44f1-a407-b524b3294fe8")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="63bb6a7f-80cb-4da2-af44-161dbe0ea6b0")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="df26044c-9a08-435b-bc11-01e279ee1ec9")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="1ac8e35f-2f5e-4d6a-bd85-064ea66218de")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="7497c1d6-f635-4976-90e4-dd610eceb10e")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="7cf0bab0-1899-475a-88bc-a5fdc764459b")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="1609e8c3-d9d8-47a1-adf5-0c32f7fcc359")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="6effc697-9de0-4965-ad68-43165e1a0e17")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="78175bfd-b85f-4345-82e4-5e145d3c65da")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="a46f3d91-82b8-438f-b3df-e3df2c3ead46")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="fe784634-2f8a-4ca5-869c-b15e024c9e86")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="e0f43110-e23a-4591-8a3a-eb4125eaba46")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="a0053a97-34c9-4ab2-baad-af092eff8e64")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="c37062ae-ece6-4be0-a15d-4dcb829f38ed")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="2b4c8621-24ab-4973-8ca3-a1ea75b73c90")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="5443a7a1-a8cc-45ff-8573-5f799eba0715")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="fbc56ce3-3409-4242-a498-7f2b0c287eaf")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="a06729f9-f61c-442b-9bbc-5ee3af34ecb6")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="7ff19635-1aeb-4e09-86be-dd18bcb2995b")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="9d5a7ed1-b959-4079-8dc9-7bc4a9c5388b")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="19affed8-e8a9-412d-b42c-d6d420b32c83")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="06c3673a-e2fa-4108-8793-527a260670d5")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="7ef91d4c-6dff-4db4-b8b0-fe02e8a51f8b")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="954bfad6-6f00-4f19-9fdf-9f83dc13901d")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="0bef081f-0ec7-47ee-a879-12085624c601")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="0d94c29b-c20c-4e94-a56c-4dc4b250e8aa")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="df0e1d32-dbb3-4a43-af28-cc2d9c805095")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="cf2f52d8-89c1-4d16-8ae0-bcfc0f6b82d5")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="ecab5f08-07aa-47e6-a548-90b0499b95b4")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="b3179881-5ad5-418a-b146-187960b8da66")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="bb8c3a51-cff3-46e4-aa60-9814a796287a")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="969bbb4a-30cb-43f8-89f0-ba69001ebb9e")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="3e9fb92e-67c2-4341-b565-5f93d3c50c80")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="2e6a4e72-1c7b-45bf-8924-2fd3c1277f7b")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="599622d7-425b-4b1c-94c1-63851ab199b0")>, <selenium.webdriver.remote.webelement.WebElement (session="6bc2ca1058b02bbe1b233db68b0ff977", element="2a712cdf-62ef-4342-a480-a984fd2801ef")>]
100

## Extracting the product_price for page_3

In [82]:
price3=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
print(len(price3))
for  i in price3:
    Price.append(i.text)
Price=Price[:100]
print(len(Price))

40
100

## Creating a DataFrame

In [83]:
df4=pd.DataFrame()
df4['Brand_name']=Brand_name
df4['Product_description']=description
df4['Price']=Price
df4

,Brand_name,Product_description,Price
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...","1,533"
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...","1,533"
2,Elligator,UV Protection Round Sunglasses (54),248
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),639
4,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",165
...,...,...,...
95,elegante,UV Protection Wayfarer Sunglasses (Free Size),₹399
96,kingsunglasses,"Mirrored, UV Protection Aviator Sunglasses (56)",₹209
97,SRPM,"Night Vision, UV Protection Round Sunglasses (54)",₹199
98,IDEE,UV Protection Cat-eye Sunglasses (17),"₹1,079"
99,elegante,UV Protection Over-sized Sunglasses (Free Size),₹399

In [84]:
# checking the shape
df4.shape

(100, 3)

# Problem Statement:

##### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYL0BETT&marketplace=FLIPKART

When you will open the above link you will reach to the webpage.

As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [130]:
driver=webdriver.Chrome('chromedriver.exe')

driver

In [131]:
links_1_2=['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART',
      'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2']

In [132]:
rev=[]
for link in links_1_2:
    driver.get(link)
    rating2=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating2:
        rev.append(i.text)

In [133]:
len(rev)

20

In [134]:
Review=[]
for link in links_1_2:
    driver.get(link)
    review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for i  in review:
        Review.append(i.text)
len(Review)

20

In [135]:
des=[]
for link  in links_1_2:
    driver.get(link)
    tags=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for i in tags:
        des.append(i.text)
len(des)

20

## Extracting elements for page 3 & 4

In [136]:
link_3_4=['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
     'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4']

In [137]:
rev2=[]
for link in link_3_4:
    driver.get(link)
    rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:
        rev2.append(i.text)
len(rev2)

18

In [138]:
rev2.insert(7,'1')
rev2.insert(-1,'1')

In [139]:
rev2

['5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '1',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '1',
 '5']

In [140]:
len(rev2)

20

In [142]:
for link in link_3_4:
    driver.get(link)
    review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for i  in review:
        Review.append(i.text)
len(Review)

40

In [143]:
for link  in link_3_4:
    driver.get(link)
    tags=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for i in tags:
        des.append(i.text)
len(des)

40

## Extracting for page5 & page 6 & page 7

In [107]:
driver=webdriver.Chrome('chromedriver.exe')

driver

In [144]:
links_5_6_7=['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
             'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
             'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7'
]

In [145]:
## Extracting the ratings
rev3=[]
for link in links_5_6_7:
    driver.get(link)
    rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:
        rev3.append(i.text)
len(rev3)

29

In [146]:
rev3.insert(4,'1')

In [147]:
len(rev3)

30

In [148]:
## Extracting Review summery

for link in links_5_6_7:
    driver.get(link)
    review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for i  in review:
        Review.append(i.text)
len(Review)

70

In [149]:
### Extracting Full Review

for link  in links_5_6_7:
    driver.get(link)
    tags=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for i in tags:
        des.append(i.text)
len(des)

70

In [118]:
driver=webdriver.Chrome('chromedriver.exe')

driver

In [150]:
links_8_9_10=['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
             'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
             'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10']

In [151]:
## Extracting the rating 
rev4=[]
for link in links_8_9_10:
    driver.get(link)
    rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:
        rev4.append(i.text)
len(rev4)

27

In [152]:
## re-intiating poor rating:

In [153]:
rev4.insert(1,'1')

In [154]:
rev4.insert(4,'1')

In [155]:
rev4.insert(24,'1')

In [156]:
len(rev4)

30

In [157]:
## Extracting Review summery

for link in links_8_9_10:
    driver.get(link)
    review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for i  in review:
        Review.append(i.text)
len(Review)

100

In [158]:
### Extracting Full Review

for link  in links_8_9_10:
    driver.get(link)
    tags=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for i in tags:
        des.append(i.text)
len(des)

100

## Joining the Rating lists

In [159]:
Rating=rev+rev2+rev3+rev4
len(Rating)

100

### Creating a DataFrame

In [160]:
df5=pd.DataFrame()
df5['I-phone11_Rating']=Rating
df5['I-phone11_review_summery']= Review
df5['I-phone11_review_description']=des
df5

,I-phone11_Rating,I-phone11_review_summery,I-phone11_review_description
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Good choice,Really satisfied with the Product I received.....
2,5,Perfect product!,Great iPhone very snappy experience as apple k...
3,5,Wonderful,Amazing phone with great cameras and better ba...
4,5,Terrific purchase,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Terrific,I got this beast today. And I must say the pic...
96,5,Highly recommended,"Amazing camera quality as expected, battery al..."
97,5,Must buy!,Dear friends... I want to share my experience ...
98,5,Must buy!,Camera is excellent just lack of telephoto mod...
99,5,Excellent,It was amazing experience for me. Honestly i a...

In [161]:
df5.shape

(100, 3)

# Problem Statement:

###### Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [25]:
import selenium
from selenium import webdriver
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [26]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [27]:
driver.get('https://www.flipkart.com/')

In [28]:
search=driver.find_element_by_class_name("_3704LK")

In [29]:
search.send_keys('seankers')

In [30]:
search_button=driver.find_element_by_class_name("L0Z3Pu")
search_button.click()

In [31]:
## Extracting Brand_name for page_1
tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
print(len(tags))
Brand_name=[]
for i in tags:
    Brand_name.append(i.text)
Brand_name

40

['BRUTON',
 'Chevit',
 'World Wear Footwear',
 'GVSSHOES',
 'SCATCHITE',
 'CLYMB',
 'Labbin',
 'FLYING MACHINE',
 'BRUTON',
 'Chevit',
 'luxury fashion',
 'HRX by Hrithik Roshan',
 'BRUTON',
 'BIRDE',
 'RapidBox',
 'Roadster',
 'Shoes Bank',
 'PUMA',
 'PUMA',
 'sixXplus',
 'Rzisbo',
 'URBANBOX',
 'DRESTA',
 'ESSENCE',
 'Kraasa',
 'BRUTON',
 'World Wear Footwear',
 'Cipramo',
 'Numenzo',
 'PUMA',
 'Noztile',
 'FLYING MACHINE',
 'Xtoon',
 'ASTEROID',
 'ASTEROID',
 'FLYING MACHINE',
 'CLYMB',
 'aadi',
 'Chevit',
 'Roadster']

In [32]:
## Extracting Product_description for page_1
tags=driver.find_elements_by_class_name("_2B099V")
Product_description=[]
for i in tags:
    Product_description.append(i.text.split('\n')[1])
    
Product_description

['Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 "Perfect Sports Shoes for Men's Running ,Cycling & Trekk...",
 'Sneakers For Men',
 'MARWICK Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Sneakers For Men',
 'Men White Printed Sneakers Sneakers For Men',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Sports Running Shoes Sneakers For Men',
 'Sneakers For Men',
 'Men Blue Solid Sneakers Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Ferrari Race X-Ray 2 Sneakers For Men',
 'X-Ray 2 Square Sneakers For Men',
 'Casual Sneakers black Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Luxury Fashionable casual sneaker shoes and shoes Sneak...',
 'Shark-41 Sneakers For Men',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Sneakers For Men',
 'Casual Sneaker Shoe For Men Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Ontario Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "white Casual shoes,Sneakers for men's Sneakers For Men",
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Clymb Training & Gym Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 '516 Trendy Star Perfect Sneakers For Men',
 'Men Grey Solid Mid-Top Sneakers Sneakers For Men']

In [33]:
## Extracting Product_price for page_1
tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
print(len(tags))
Product_price=[]
for i in tags:
    Product_price.append(i.text.replace('₹',''))
Product_price

40

['424',
 '536',
 '199',
 '449',
 '377',
 '249',
 '474',
 '1,499',
 '259',
 '447',
 '449',
 '2,499',
 '499',
 '299',
 '680',
 '1,399',
 '345',
 '7,859',
 '2,481',
 '449',
 '549',
 '247',
 '499',
 '399',
 '444',
 '424',
 '259',
 '799',
 '426',
 '1,047',
 '429',
 '915',
 '499',
 '474',
 '474',
 '995',
 '249',
 '319',
 '259',
 '1,999']

In [34]:
## Extracting Product_discount for page_1
tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
print(len(tags))
Product_discount=[]
for i in tags:
    Product_discount.append(i.text)
Product_discount

40

['87% off',
 '66% off',
 '60% off',
 '55% off',
 '62% off',
 '75% off',
 '52% off',
 '40% off',
 '80% off',
 '75% off',
 '65% off',
 '41% off',
 '80% off',
 '40% off',
 '31% off',
 '50% off',
 '65% off',
 '1% off',
 '64% off',
 '55% off',
 '45% off',
 '75% off',
 '75% off',
 '60% off',
 '55% off',
 '83% off',
 '48% off',
 '20% off',
 '78% off',
 '65% off',
 '78% off',
 '60% off',
 '66% off',
 '76% off',
 '52% off',
 '60% off',
 '75% off',
 '68% off',
 '67% off',
 '28% off']

In [35]:
## clicking to next page
page2=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
page2.click()

In [36]:
## Extracting Brand_name for page_2
tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
print(len(tags))

for i in tags:
    Brand_name.append(i.text)
Brand_name

40

['BRUTON',
 'Chevit',
 'World Wear Footwear',
 'GVSSHOES',
 'SCATCHITE',
 'CLYMB',
 'Labbin',
 'FLYING MACHINE',
 'BRUTON',
 'Chevit',
 'luxury fashion',
 'HRX by Hrithik Roshan',
 'BRUTON',
 'BIRDE',
 'RapidBox',
 'Roadster',
 'Shoes Bank',
 'PUMA',
 'PUMA',
 'sixXplus',
 'Rzisbo',
 'URBANBOX',
 'DRESTA',
 'ESSENCE',
 'Kraasa',
 'BRUTON',
 'World Wear Footwear',
 'Cipramo',
 'Numenzo',
 'PUMA',
 'Noztile',
 'FLYING MACHINE',
 'Xtoon',
 'ASTEROID',
 'ASTEROID',
 'FLYING MACHINE',
 'CLYMB',
 'aadi',
 'Chevit',
 'Roadster',
 'CLYMB',
 'BRUTON',
 'aadi',
 'SiR CORBETT',
 'PUMA',
 'World Wear Footwear',
 'aadi',
 'Flizzo Shoes',
 'Zsyto',
 'BRUTON',
 'Robbie jones',
 'HRX by Hrithik Roshan',
 'Magnolia',
 'ASIAN',
 'HOTSTYLE',
 'believe',
 'Kraasa',
 'Arohi',
 'aadi',
 'Strollin',
 'D-SNEAKERZ',
 'Robbie jones',
 'PUMA',
 'bluemaker',
 'BRUTON',
 'Chevit',
 'Numenzo',
 'HRX by Hrithik Roshan',
 'India hub',
 'bluemaker',
 'RODDICK SHOES',
 'BIRDE',
 'RODDICK SHOES',
 'KNIGHT WALKERS',
 'Robbie jones',
 'HRX by Hrithik Roshan',
 'BRUTON',
 'Echor',
 'Pieds',
 'ZIPAZXA']

In [37]:
len(Brand_name)

80

In [38]:
## Extracting Product_description for page_2
tags=driver.find_elements_by_class_name("_2B099V")

for i in tags:
    Product_description.append(i.text.split('\n')[1])
    
len(Product_description)

80

In [39]:
## Extracting Product_price for page_2
tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
print(len(tags))
for i in tags:
    Product_price.append(i.text.replace('₹',''))
print(len(Product_price))

40
80

In [40]:
## Extracting Product_discount for page_2
tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
print(len(tags))
discount=[]
for i in tags:
    discount.append(i.text)
len(discount)

40

40

In [41]:
All_discount= Product_discount+discount
len(All_discount)

80

In [42]:
## Clicking on next button
page3=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
page3.click()

In [43]:
## Extracting Brand_name for page_3
tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
print(len(tags))

for i in tags:
    Brand_name.append(i.text)
print(len(Brand_name))

40
120

In [44]:
## Extracting Product_description for page_3
tags=driver.find_elements_by_class_name("_2B099V")

for i in tags:
    Product_description.append(i.text.split('\n')[1])
    
len(Product_description)

120

In [45]:
## Extracting Product_price for page_3
tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
print(len(tags))
for i in tags:
    Product_price.append(i.text.replace('₹',''))
print(len(Product_price))

40
120

In [46]:
## Extracting Product_discount for page_3
tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
print(len(tags))

for i in tags:
    All_discount.append(i.text)
len(All_discount)

40

120

## Creating A DATA FRAME

In [47]:
df6=pd.DataFrame()
df6['Brand_name']=Brand_name
df6['Product_description']=Product_description
df6['Product_price']=Product_price
df6['Product_discount']=All_discount
df6

,Brand_name,Product_description,Product_price,Product_discount
0,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,424,87% off
1,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,536,66% off
2,World Wear Footwear,5011-Latest Collection Stylish Casual Loafer S...,199,60% off
3,GVSSHOES,Sneakers For Men,449,55% off
4,SCATCHITE,Sneakers Sneakers For Men,377,62% off
...,...,...,...,...
115,RapidBox,Stylish & Trendy Sneakers For Men,620,37% off
116,CLYMB,Clymb Training & Gym Shoes For Men Sneakers Fo...,249,75% off
117,aadi,Sneakers For Men,319,68% off
118,Chevit,516 Trendy Star Perfect Sneakers For Men,259,67% off
119,CLYMB,Mesh Running/Walking Shoes/Outdoor Ultra Light...,649,56% off

# Problem Statement:

##### Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe.

In [25]:
import selenium
from selenium import webdriver
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [26]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [48]:
driver.get('http://www.myntra.com/shoes')

In [51]:
## setting the  price filter through code
price_filter=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()

In [50]:
## setting the color filter as 'Black' through  code
color_filter=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()

In [52]:
## Extracting Brand name for page1
tags=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
Brand_name=[]
for i in tags:
    Brand_name.append(i.text)
Brand_name

['Nike',
 'Nike',
 'ALDO',
 'Tommy Hilfiger',
 'Puma',
 'Nike',
 'Tommy Hilfiger',
 'Tommy Hilfiger',
 'PUMA Motorsport',
 'Tommy Hilfiger',
 'Puma',
 'Puma',
 'Puma',
 'New Balance',
 'RARE RABBIT',
 'Puma',
 'Puma',
 'Skechers',
 'Tommy Hilfiger',
 'New Balance',
 'Hush Puppies',
 'Skechers',
 'Reebok',
 'Hush Puppies',
 'RARE RABBIT',
 'Puma',
 'Hush Puppies',
 'New Balance',
 'Hush Puppies',
 'DAVINCHI',
 'Saint G',
 'Hush Puppies',
 'Clarks',
 'Xtep',
 'Saint G',
 'Bugatti',
 'Hush Puppies',
 'New Balance',
 'Saint G',
 'Saint G',
 'ASICS',
 'Geox',
 'Puma',
 'J.FONTINI',
 'Bugatti',
 'Heel & Buckle London',
 'Hush Puppies',
 'MANGO',
 'J.FONTINI',
 'DAVINCHI']

In [53]:
print(len(Brand_name))

50

In [55]:
## Extracting the Product_description for page_1
tags=driver.find_elements_by_xpath('//h4[@class="product-product"]')
print('length of tags ', len(tags))
Product_description=[]
for i in tags:
    Product_description.append(i.text)
print('length of description ', len(Product_description))
Product_description

length of tags  50
length of description  50

['Men AIR ZOOM PEGASUS 38',
 'Men Zoom F3 Basketball Shoes',
 'Men Printed Sneakers',
 'Men Leather Sneakers',
 'Men Jamming 2.0 Running Shoes',
 'Men Blazer Court Skateboarding',
 'Men Leather Sneakers',
 'Men Textured Loafers',
 'Unisex Ferrari Drift8 Sneakers',
 'Men Leather Sneakers',
 'Men Magnify Nitro Running',
 'Men Deviate Nitro Running Shoe',
 'Men Running Shoes',
 'Men Woven Design Running Shoes',
 'Men Leather Slip-On Sneakers',
 'Men Training or Gym Shoes',
 'Women Magnify Nitro Shoes',
 'Men Go Run Hyper Burst Running',
 'Leather Sandals',
 'Men Woven Design Running Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Men GLOBAL JOGGER Sneakers',
 'Men Astroride Forever Running',
 'Men Perforations Leather Slip-On Sneakers',
 'Men Leather Flat Boots',
 'Women Eternity NITRO Shoes',
 'Men Leather Derbys',
 'Men Woven Design Running Shoes',
 'Men Formal Derbys',
 'Ustraa black',
 'Men Mid-Top Chelsea Boots',
 'Men Solid Formal Slip-Ons',
 'Men Leather Formal Loafers',
 'Men Running Shoes',
 'Men Leather Chelsea Boots',
 'Men Walking Shoes',
 'Men Solid Leather Formal Derbys',
 'Women Woven Running Shoes',
 'Women Leather Heeled Boots',
 'Women Leather Heeled Boots',
 'Men Colourblocked PU Sneakers',
 'Men Leather Driving Shoes',
 'Women Velocity NITRO Runners',
 'Men Black Leather Loafers',
 'Men Textured Leather High-Top Flat Boots',
 'Men Solid Leather Formal Loafers',
 'Men Solid Leather Formal Slip-Ons',
 'Women Leather Penny Loafers',
 'Men Textured Leather Formal Loafers',
 'Men Textured Formal Leather Loafers']

In [56]:
## Extracting Product_price for page_1
tags=driver.find_elements_by_xpath('//div[@class="product-price"]')
print('length of tags ', len(tags))
Product_price=[]
for i in tags:
    Product_price.append(i.text)
print('length of Product_price ', len(Product_price))
Product_price

length of tags  50
length of Product_price  50

['Rs. 9770Rs. 11495(15% OFF)',
 'Rs. 9260Rs. 10895(15% OFF)',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 7999',
 'Rs. 12999',
 'Rs. 7495',
 'Rs. 7999',
 'Rs. 8599',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 9749Rs. 14999(35% OFF)',
 'Rs. 12999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 7224Rs. 8499(15% OFF)',
 'Rs. 7599',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 7999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 12999',
 'Rs. 7999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 10500Rs. 10900(Rs. 400 OFF)',
 'Rs. 9999',
 'Rs. 7499',
 'Rs. 7699',
 'Rs. 10710Rs. 11900(Rs. 1190 OFF)',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 9999',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 11473Rs. 14900(23% OFF)',
 'Rs. 12325Rs. 14500(15% OFF)',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 7149Rs. 10999(35% OFF)',
 'Rs. 8490',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 10791Rs. 11990(10% OFF)',
 'Rs. 9999',
 'Rs. 7191Rs. 7990(10% OFF)',
 'Rs. 8990',
 'Rs. 8990']

In [57]:
## clicking on next button
next_button=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
next_button.click()

In [58]:
## Extracting Brand name for page2
tags=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
print('length of tags ', len(tags))
for i in tags:
    Brand_name.append(i.text)
Brand_name

length of tags  50

['Nike',
 'Nike',
 'ALDO',
 'Tommy Hilfiger',
 'Puma',
 'Nike',
 'Tommy Hilfiger',
 'Tommy Hilfiger',
 'PUMA Motorsport',
 'Tommy Hilfiger',
 'Puma',
 'Puma',
 'Puma',
 'New Balance',
 'RARE RABBIT',
 'Puma',
 'Puma',
 'Skechers',
 'Tommy Hilfiger',
 'New Balance',
 'Hush Puppies',
 'Skechers',
 'Reebok',
 'Hush Puppies',
 'RARE RABBIT',
 'Puma',
 'Hush Puppies',
 'New Balance',
 'Hush Puppies',
 'DAVINCHI',
 'Saint G',
 'Hush Puppies',
 'Clarks',
 'Xtep',
 'Saint G',
 'Bugatti',
 'Hush Puppies',
 'New Balance',
 'Saint G',
 'Saint G',
 'ASICS',
 'Geox',
 'Puma',
 'J.FONTINI',
 'Bugatti',
 'Heel & Buckle London',
 'Hush Puppies',
 'MANGO',
 'J.FONTINI',
 'DAVINCHI',
 'DAVINCHI',
 'Saint G',
 'Tommy Hilfiger',
 'Bugatti',
 'Bugatti',
 'Geox',
 'Columbia',
 'Clarks',
 'New Balance',
 'Columbia',
 'J.FONTINI',
 'Columbia',
 'New Balance',
 'J.FONTINI',
 'Columbia',
 'J.FONTINI',
 'Heel & Buckle London',
 'Saint G',
 'RARE RABBIT',
 'Clarks',
 'J.FONTINI',
 'J.FONTINI',
 'Saint G',
 'Bugatti',
 'Geox',
 'Geox',
 'Royal Enfield',
 'Geox',
 'Clarks',
 'DAVINCHI',
 'DAVINCHI',
 'DAVINCHI',
 'DAVINCHI',
 'Pavers England',
 'New Balance',
 'Pavers England',
 'Pavers England',
 'Saint G',
 'Cole Haan',
 'ADIDAS',
 'Geox',
 'Cole Haan',
 'Saint G',
 'Saint G',
 'Saint G',
 'ALDO',
 'DAVINCHI',
 'ASICS',
 'Cole Haan',
 'Pavers England']

In [59]:
len(Brand_name)

100

In [60]:
## Extracting the Product_description for page_2
tags=driver.find_elements_by_xpath('//h4[@class="product-product"]')
print('length of tags ', len(tags))

for i in tags:
    Product_description.append(i.text)
print('length of description ', len(Product_description))
Product_description

length of tags  50
length of description  100

['Men AIR ZOOM PEGASUS 38',
 'Men Zoom F3 Basketball Shoes',
 'Men Printed Sneakers',
 'Men Leather Sneakers',
 'Men Jamming 2.0 Running Shoes',
 'Men Blazer Court Skateboarding',
 'Men Leather Sneakers',
 'Men Textured Loafers',
 'Unisex Ferrari Drift8 Sneakers',
 'Men Leather Sneakers',
 'Men Magnify Nitro Running',
 'Men Deviate Nitro Running Shoe',
 'Men Running Shoes',
 'Men Woven Design Running Shoes',
 'Men Leather Slip-On Sneakers',
 'Men Training or Gym Shoes',
 'Women Magnify Nitro Shoes',
 'Men Go Run Hyper Burst Running',
 'Leather Sandals',
 'Men Woven Design Running Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Men GLOBAL JOGGER Sneakers',
 'Men Astroride Forever Running',
 'Men Perforations Leather Slip-On Sneakers',
 'Men Leather Flat Boots',
 'Women Eternity NITRO Shoes',
 'Men Leather Derbys',
 'Men Woven Design Running Shoes',
 'Men Formal Derbys',
 'Ustraa black',
 'Men Mid-Top Chelsea Boots',
 'Men Solid Formal Slip-Ons',
 'Men Leather Formal Loafers',
 'Men Running Shoes',
 'Men Leather Chelsea Boots',
 'Men Walking Shoes',
 'Men Solid Leather Formal Derbys',
 'Women Woven Running Shoes',
 'Women Leather Heeled Boots',
 'Women Leather Heeled Boots',
 'Men Colourblocked PU Sneakers',
 'Men Leather Driving Shoes',
 'Women Velocity NITRO Runners',
 'Men Black Leather Loafers',
 'Men Textured Leather High-Top Flat Boots',
 'Men Solid Leather Formal Loafers',
 'Men Solid Leather Formal Slip-Ons',
 'Women Leather Penny Loafers',
 'Men Textured Leather Formal Loafers',
 'Men Textured Formal Leather Loafers',
 'Men Textured Formal Leather Loafers',
 'Suede High-Top Flatform Heeled Boots',
 'Women CLEAT Textured Sneakers',
 'Leather Heeled Knee Boots',
 'Men Black Walking Shoes',
 'Men Leather Driving Shoes',
 'NEWTON RIDGE PLUS II WATERPROOF',
 'Men Solid Leather Formal Brogues',
 'Women Woven Running Shoes',
 'Men FACET OUTDRY Trekking Shoe',
 'Men Textured Leather Loafers',
 'Women REDMOND V2 TrekkingShoe',
 'Men VAYGO Running Shoes',
 'Men Textured Leather Loafers',
 'PEAKFREAK OUTDRY Trekking Shoe',
 'Men Solid Loafers',
 'Men Formal Leather Derby',
 'Striped Suede Flatform Heeled Boots',
 'Men Textured Leather Loafers',
 'Men Solid Formal Leather Derbys',
 'Men Leather Formal Loafers',
 'Men Leather Formal Loafers',
 'Women Leather Mules',
 'Men Sneakers',
 'Women Solid Leather Pumps',
 'Women Leather Pumps',
 'Cabo WP Riding Boots',
 'Women Solid Leather Pumps',
 'Men Solid Leather Formal Loafers',
 'Solid Slip On Shoes',
 'Men Formal Leather Slip-Ons',
 'Men Solid Leather Formal Derbys',
 'Men Textured Formal Leather Loafers',
 'Men Leather Driving Shoes',
 'Men Fuelcell Running Shoes',
 'Men Printed Loafers',
 'Men Textured Leather Driving Shoes',
 'Women Leather Sneakers',
 'Women Sneakers',
 'Men X9000L3 Running Shoes',
 'Women Solid Leather Ballerinas',
 'Women Solid Leather Ballerinas',
 'Women Leather Heeled Boots',
 'Women Leather Heeled Boots',
 'Women Leather Heeled Boots',
 'Leather Slim Heels',
 'Men Solid Leather Formal Loafers',
 'Women Running Shoes',
 'Women Leather Loafers',
 'Men Solid Leather Formal Loafers']

In [61]:
## Extracting Product_price for page_2
tags=driver.find_elements_by_xpath('//div[@class="product-price"]')
print('length of tags ', len(tags))

for i in tags:
    Product_price.append(i.text)
print('length of Product_price ', len(Product_price))
Product_price

length of tags  50
length of Product_price  100

['Rs. 9770Rs. 11495(15% OFF)',
 'Rs. 9260Rs. 10895(15% OFF)',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 7999',
 'Rs. 12999',
 'Rs. 7495',
 'Rs. 7999',
 'Rs. 8599',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 9749Rs. 14999(35% OFF)',
 'Rs. 12999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 7224Rs. 8499(15% OFF)',
 'Rs. 7599',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 7999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 12999',
 'Rs. 7999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 10500Rs. 10900(Rs. 400 OFF)',
 'Rs. 9999',
 'Rs. 7499',
 'Rs. 7699',
 'Rs. 10710Rs. 11900(Rs. 1190 OFF)',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 9999',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 11473Rs. 14900(23% OFF)',
 'Rs. 12325Rs. 14500(15% OFF)',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 7149Rs. 10999(35% OFF)',
 'Rs. 8490',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 10791Rs. 11990(10% OFF)',
 'Rs. 9999',
 'Rs. 7191Rs. 7990(10% OFF)',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 11475Rs. 13500(15% OFF)',
 'Rs. 7309Rs. 8599(15% OFF)',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 9499',
 'Rs. 8499',
 'Rs. 7999',
 'Rs. 10399Rs. 12999(20% OFF)',
 'Rs. 12999',
 'Rs. 7990',
 'Rs. 7999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 8490',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 7191Rs. 7990(10% OFF)',
 'Rs. 8415Rs. 9900(15% OFF)',
 'Rs. 7149Rs. 10999(35% OFF)',
 'Rs. 9999',
 'Rs. 7490',
 'Rs. 7490',
 'Rs. 7216Rs. 8200(12% OFF)',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 7999',
 'Rs. 8999',
 'Rs. 8500',
 'Rs. 10990',
 'Rs. 7999',
 'Rs. 7990',
 'Rs. 8990',
 'Rs. 9990',
 'Rs. 8990',
 'Rs. 7499',
 'Rs. 9599Rs. 11999(20% OFF)',
 'Rs. 11999',
 'Rs. 9999',
 'Rs. 7110Rs. 7900(10% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 11999',
 'Rs. 8999',
 'Rs. 9799Rs. 13999(30% OFF)',
 'Rs. 12325Rs. 14500(15% OFF)',
 'Rs. 14025Rs. 16500(15% OFF)',
 'Rs. 11815Rs. 13900(15% OFF)',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 8490',
 'Rs. 7999',
 'Rs. 11899Rs. 16999(30% OFF)',
 'Rs. 7999']

## Creating A DATAFRAME

In [62]:
df7=pd.DataFrame()
df7['Brand_name']=Brand_name
df7['Product_description']=Product_description
df7['Product_price']=Product_price
df7

,Brand_name,Product_description,Product_price
0,Nike,Men AIR ZOOM PEGASUS 38,Rs. 9770Rs. 11495(15% OFF)
1,Nike,Men Zoom F3 Basketball Shoes,Rs. 9260Rs. 10895(15% OFF)
2,ALDO,Men Printed Sneakers,Rs. 9099Rs. 12999(30% OFF)
3,Tommy Hilfiger,Men Leather Sneakers,Rs. 7999
4,Puma,Men Jamming 2.0 Running Shoes,Rs. 12999
...,...,...,...
95,ALDO,Leather Slim Heels,Rs. 8399Rs. 11999(30% OFF)
96,DAVINCHI,Men Solid Leather Formal Loafers,Rs. 8490
97,ASICS,Women Running Shoes,Rs. 7999
98,Cole Haan,Women Leather Loafers,Rs. 11899Rs. 16999(30% OFF)
99,Pavers England,Men Solid Leather Formal Loafers,Rs. 7999

# Problem Statement:

##### Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7”.

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [2]:
import pandas as pd
import numpy as np
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [3]:
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys

In [4]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
driver

## Fetching the webpage

In [5]:
driver.get('http://www.amazon.in/')
driver.implicitly_wait(20)

In [6]:
# find the element for search button and then search laptops
driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]').send_keys('Laptops')

In [7]:
# find the element for clicking the search button
driver.find_element_by_xpath('//input[@type="submit"]').click()

## Applying the 'i7 core CPU' filter

In [8]:
# find the element for i7 core and then click on it
driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[3]/li[12]/span/a/div/label/i').click()

# Extracting The Global Rating:

In [9]:
# find the element of global rating:
tags=driver.find_elements_by_xpath('//span[@class="a-size-base s-underline-text"]')
print('length of rating tags is : ', len(tags))
ratings=[]
for i in tags:
    ratings.append(i.text)
print("First 10 Laptop's Ratings")
ratings=ratings[:10]
print('length of ratings is : ', len(ratings))
print(ratings)

length of rating tags is :  26
First 10 Laptop's Ratings
length of ratings is :  10
['71', '37', '60', '13', '21', '1', '36', '71', '57', '128']

# Extracting The First 10 Laptop's Titles

In [10]:
# find the elements of titles
tags=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
print('length of rating tags is : ', len(tags))
titles=[]
for i in tags:
    titles.append(i.text)
print("First 10 Laptop's Titles")
titles=titles[:10]
print('length of titles is : ', len(titles))
print(titles)

length of rating tags is :  30
First 10 Laptop's Titles
length of titles is :  10
['LG Gram 16 inches Intel Evo 11th Gen Core i7 Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.19 kg, 16Z90P-G.AH85A2, Black)', 'Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33.78cm) FHD IPS 400Nits Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/ Fingerprint Reader/Black/878gms), 4ZR1F38024', 'HP Pavilion x360 11th Gen Intel Core i7 14 inches FHD, IPS, Convertible Laptop (16 GB RAM/512GB SSD, B&O/Win 11 Home/Backlit keyboard/FPR/ Alexa-Built in/MS Office/Natural Silver/1.52 Kg) -14-dy1013TU', 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS', 'ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HEB-HN248T', 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS', 'Lenovo ThinkBook 13s Intel 11th Gen Core i7 13.3"(33.78 cm) WQXGA IPS 300 nits 100% sRGB Dolby Vision Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/FPR/Mineral Grey/1.26 Kg), 20V9A05FIH', 'LG Gram 14 inches Ultra-Light Intel Evo 11th Gen Core i7 Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 0.999Kg, (14Z90P-G.AH85A2, Black)', 'MSI GF75 Thin Gaming, Intel Core i7-10750H, 44cm IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GeForce GTX 1650/GDDR6 4GB/Black/2.2kg) 10SCXR-654IN', 'LG Gram Intel Evo 11th Gen Core i7 17 inches Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 17Z90P-G.AH85A2, Black)']

# Extracting The Price:

In [11]:
# find the element of price tag
tags=driver.find_elements_by_xpath('//span[@class="a-price"]')
print('The length  of the tags is :', len(tags))
price=[]
for i in tags:
    price.append(i.text.replace('₹',''))
print("Price for first 10 Laptops")
price=price[:10]
print("The length of Price list is :", len(price))
print(price)

The length  of the tags is : 30
Price for first 10 Laptops
The length of Price list is : 10
['92,999', '92,490', '86,990', '59,990', '96,990', '88,990', '84,990', '87,999', '70,000', '99,499']

# Creating A DataFrame

In [12]:
import pandas as pd
data=pd.DataFrame()
data['titles']=titles
data['price']=price
data['global_ratings']=ratings
data

                                              titles   price global_ratings
0  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...  92,999             71
1  Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....  92,490             37
2  HP Pavilion x360 11th Gen Intel Core i7 14 inc...  86,990             60
3  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...  59,990             13
4  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...  96,990             21
5  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...  88,990              1
6  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...  84,990             36
7  LG Gram 14 inches Ultra-Light Intel Evo 11th G...  87,999             71
8  MSI GF75 Thin Gaming, Intel Core i7-10750H, 44...  70,000             57
9  LG Gram Intel Evo 11th Gen Core i7 17 inches U...  99,499            128

# Problem Statement:

##### Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option 
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [25]:
import selenium
from selenium import webdriver
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [26]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [83]:
driver.get('http://www.ambitionbox.com/')

In [85]:
## Clicking on 'Jobs' option
job_option= driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
job_option.click()

In [86]:
## find element for searching job
search=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search.send_keys('Data Scientist')

In [87]:
##clicking on search button
search_button=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button')
search_button.click()

In [88]:
## Selecting the  location filter
location=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]')
location.click()

In [89]:
## find element for searching location
search_loca=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_loca.send_keys('Noida')

In [90]:
## clicking the 'Noida' filter
loca_button=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
loca_button.click()

### Extracting Company names

In [92]:
## through xpath
tags=driver.find_elements_by_xpath('//p[@class="company body-medium"]')
print('length of tags ', len(tags))
Company_names=[]
for i in tags:
    Company_names.append(i.text)
print('The length of Company_names is : ', len(Company_names))
Company_names

length of tags  10
The length of Company_names is :  10

['Jubilant Foodworks Limited',
 'HCL Technologies',
 'Tavant Technologies India Pvt. Ltd.',
 'Denave India Pvt Ltd.',
 'EY GDS',
 'EXL Service',
 'Pitney Bowes India Pvt ltd',
 'Zyoin',
 'Ameriprise Financial',
 'Jubilant Foodworks Limited']

## Extracting Company post date

In [101]:
## through xpath
tags=driver.find_elements_by_xpath('//span[@class="body-small-l"]')
print('length of tags ', len(tags))
posting_date=[]
for i in tags:
    posting_date.append(i.text)
print('The length of Company_names is : ', len(posting_date))
posting_date

length of tags  20
The length of Company_names is :  20

['9d ago',
 'via naukri.com',
 '22d ago',
 'via naukri.com',
 '3d ago',
 'via naukri.com',
 '3d ago',
 'via naukri.com',
 '23d ago',
 'via iimjobs.com',
 '16d ago',
 'via naukri.com',
 '23d ago',
 'via naukri.com',
 '1d ago',
 'via hirist.com',
 '1mon ago',
 'via naukri.com',
 '29d ago',
 'via naukri.com']

In [106]:
Dates=[]
for i in posting_date:
    if i[-1]=='o':
        Dates.append(i)
print(Dates)
print('length of dates : ', len(Dates))

['9d ago', '22d ago', '3d ago', '3d ago', '23d ago', '16d ago', '23d ago', '1d ago', '1mon ago', '29d ago']
length of dates :  10

## Extracting Rating of  company

In [107]:
tags=driver.find_elements_by_xpath('//span[@class="body-small"]')
print('length of tags is :', len(tags))
Rating=[]
for i in tags:
    Rating.append(i.text)
print('length of Rating is : ', len(Rating))
Rating

length of tags is : 10
length of Rating is :  10

['3.9', '3.8', '4.0', '4.0', '3.7', '3.8', '4.2', '4.1', '4.0', '3.9']

## Creating A DataFrame

In [108]:
df9=pd.DataFrame()
df9['Company_names']=Company_names
df9['Posting_date']=Dates
df9['Company_ratings']=Rating
df9

                         Company_names Posting_date Company_ratings
0           Jubilant Foodworks Limited       9d ago             3.9
1                     HCL Technologies      22d ago             3.8
2  Tavant Technologies India Pvt. Ltd.       3d ago             4.0
3                Denave India Pvt Ltd.       3d ago             4.0
4                               EY GDS      23d ago             3.7
5                          EXL Service      16d ago             3.8
6           Pitney Bowes India Pvt ltd      23d ago             4.2
7                                Zyoin       1d ago             4.1
8                 Ameriprise Financial     1mon ago             4.0
9           Jubilant Foodworks Limited      29d ago             3.9

# Problem Statement:

##### Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option on top of screen
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe

In [13]:
import pandas as pd
import numpy as np
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [14]:
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys

## fechting the chrome driver

In [15]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
driver

## fechting the web page

In [16]:
driver.get('http://www.ambitionbox.com/')
driver.implicitly_wait(20)

In [17]:
driver.find_element_by_xpath('//a[@title="Company Salaries"]').click()

In [18]:
driver.find_element_by_xpath('//input[@placeholder="Search job profiles"]').send_keys('Data Scientist')

In [19]:
act=ActionChains('driver')

##### find the element of dropdown datascientist option

In [20]:
drop_down_data_scientist=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]')

In [21]:
act.click(drop_down_data_scientist).perform

## Extracting Company Name:

In [22]:
data_sci=driver.find_elements_by_xpath('//div[@class="name"]')

In [23]:
company_name=[]
for i in data_sci:
    company_name.append(i.text.replace('\n',','))
company_name

['Tekion,based on 10 salaries',
 'Microsoft Corporation,based on 227 salaries',
 'Goldman Sachs,based on 12 salaries',
 'Flipkart,based on 53 salaries',
 'PayPal,based on 22 salaries',
 'Amazon,based on 89 salaries',
 'Servicenow Software Development India,based on 41 salaries',
 'Arcesium,based on 48 salaries',
 'Walmart,based on 82 salaries',
 'ServiceNow,based on 18 salaries']

In [24]:
company=[]
for j in company_name:
    company.append(j.split(',')[0])
company

['Tekion',
 'Microsoft Corporation',
 'Goldman Sachs',
 'Flipkart',
 'PayPal',
 'Amazon',
 'Servicenow Software Development India',
 'Arcesium',
 'Walmart',
 'ServiceNow']

## Extracting the No. of Salary

In [25]:
salary_record=[]
for i in data_sci:
    salary_record.append(i.text.split('\n')[1])
salary_record

['based on 10 salaries',
 'based on 227 salaries',
 'based on 12 salaries',
 'based on 53 salaries',
 'based on 22 salaries',
 'based on 89 salaries',
 'based on 41 salaries',
 'based on 48 salaries',
 'based on 82 salaries',
 'based on 18 salaries']

In [26]:
salary_rec=[]
for j in salary_record:
    salary_rec.append(j.replace('based on ',''))
salary_rec

['10 salaries',
 '227 salaries',
 '12 salaries',
 '53 salaries',
 '22 salaries',
 '89 salaries',
 '41 salaries',
 '48 salaries',
 '82 salaries',
 '18 salaries']

## Required Experience

In [27]:
tags=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
print('length of tags :', len(tags))
exp=[]
for i in tags:
    exp.append(i.text.split('\n')[-1].replace(' exp',''))
exp

length of tags : 10

['4 yrs',
 '1-4 yrs',
 '2 yrs',
 '1-4 yrs',
 '1-2 yrs',
 '1-4 yrs',
 '2-4 yrs',
 '1-2 yrs',
 '1-4 yrs',
 '3 yrs']

## Extracting Average Salary pay

In [28]:
tags=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
print('length of tags is :', len(tags))
aver_sal=[]
for i in tags:
    aver_sal.append(i.text.replace('₹ ',''))
aver_sal

length of tags is : 10

['23.3L',
 '23.1L',
 '22.1L',
 '20.9L',
 '20.0L',
 '19.3L',
 '19.0L',
 '18.4L',
 '18.0L',
 '17.3L']

## Extracting the Minimum & Maximum Salary pay

In [29]:
tags=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
min_sal=[]
max_sal=[]
count=1
for i in tags:
    if count%2==0:
        max_sal.append(i.text.replace('₹ ',''))
    else:
        min_sal.append(i.text.replace('₹ ',''))
    count+=1
    

print(min_sal)
print(max_sal)

['14.0L', '13.0L', '16.0L', '7.5L', '12.0L', '8.0L', '12.0L', '12.0L', '10.0L', '11.0L']
['32.0L', '45.0L', '30.0L', '30.0L', '28.4L', '41.5L', '25.8L', '30.0L', '32.0L', '23.0L']

# Creating A Data Frame

In [30]:
df10=pd.DataFrame()
df10['company_name']=company
df10['number_of_salary']=salary_rec
df10['required_experience']=exp
df10['average_salary_pay']=aver_sal
df10['minimum_salary_pay']=min_sal
df10['maximum_salary_pay']=max_sal
df10

,company_name,number_of_salary,required_experience,average_salary_pay,minimum_salary_pay,maximum_salary_pay
0,Tekion,10 salaries,4 yrs,23.3L,14.0L,32.0L
1,Microsoft Corporation,227 salaries,1-4 yrs,23.1L,13.0L,45.0L
2,Goldman Sachs,12 salaries,2 yrs,22.1L,16.0L,30.0L
3,Flipkart,53 salaries,1-4 yrs,20.9L,7.5L,30.0L
4,PayPal,22 salaries,1-2 yrs,20.0L,12.0L,28.4L
5,Amazon,89 salaries,1-4 yrs,19.3L,8.0L,41.5L
6,Servicenow Software Development India,41 salaries,2-4 yrs,19.0L,12.0L,25.8L
7,Arcesium,48 salaries,1-2 yrs,18.4L,12.0L,30.0L
8,Walmart,82 salaries,1-4 yrs,18.0L,10.0L,32.0L
9,ServiceNow,18 salaries,3 yrs,17.3L,11.0L,23.0L